h1 {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  color: #ffffff;
}

.App {
  margin: 0px 0px 0px 0px;
  background-color: #ffffff;
  padding: 0px 0px 0px 0px;
  position: relative;
}

.App-header {
  background-color: #2f5574;
  min-height: 50px;
  flex-direction: column;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
  margin: 0 0 0 0;
  padding-top: 0px;
  padding-bottom: 0px;
}
